.banner {
  background: url(../../../images/banner.png) no-repeat;
  background-size: 100% 100%;
  padding: 125px 0;
}
.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner .banner-wrapper .headline {
  font-size: 48px;
  font-family: var(--family);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
